@page
@model CadastroCliente_001.Pages.deniedModel
@{
    ViewData["Title"] = "Acesso Negado!";
}
<h1>@ViewData["Title"]</h1>
<p>
    Errou usuário, senha, ou não existe.
</p>

<a href="/index"><button>Ir para o Início</button></a>
