@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>	Lorem ipsum laoreet id faucibus auctor congue quisque dictum sapien, vulputate arcu nam scelerisque 
    gravida congue elit mi, nullam vulputate ullamcorper rutrum lorem euismod rutrum conubia. semper 
    lobortis risus blandit adipiscing tincidunt lacus euismod, aptent consectetur justo torquent cubilia 
    gravida ultricies nec, habitant nibh in suspendisse ultricies turpis. aptent urna habitant fames 
    rhoncus primis tristique est vestibulum aptent aenean felis, vestibulum euismod vulputate donec 
    consequat aliquam curabitur himenaeos sit purus, turpis proin est porta feugiat turpis eleifend 
    nulla bibendum malesuada. a ligula ut cubilia mi id orci pharetra maecenas, in quisque sodales taciti 
    ullamcorper magna purus nec, viverra imperdiet nostra lacus gravida mattis magna. </p>

<a href="index.html"><button>Ir para o Início</button></a>
